<div class="container-fluid">
	
	<h1 class="produto">Nossos produtos<img src="/public/img/6.png" width="300"></h1>

	<p>Listagem de produtos (<%= produtos.length %> produtos no total)</p>

	<div class="row">
		<% for (let i = 0; i < produtos.length; i++) { %>
		<div class="col-sm-4 col-md-3 col-lg-2 text-center">
			<div class="fundo-coluna" style="cursor: pointer;" onclick="mostrarProduto(<%= i %>)">
				<div class="altmin">
				<img src="/public/img/brinquedo<%= produtos[i].id %>.jpeg" width="400">
				</div>
				<p>
					<%= produtos[i].nome %>
				</p>
			</div>
		</div>
		<% } %>
	</div>
</div>

<%- include("modal-produto") %>
